body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(img/backgroundWeb.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Bungee Shade';
    font-size: 25px;
    color: black;

}

canvas {
    background-image: url(img/4.Maps/forest/Background/Bright/sky.png);
    display: block;
}


.content {
    position: relative;
    max-width: 1024px;
    max-height: 576px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 6px rgba(160, 10, 10, 0.7);
}


.soundAndFullscreen{
    position: absolute;
    top:20px;
    
}

.startscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    max-height: 576px;
}

.startImage {
    width: 1024px;
    height: 576px;
}

.startImageChar {
    position: absolute;

}

.title {
    position: absolute;
    top: 20px
}


.startScreenFullscreen,
.startscreenSound,
.startscreenStart {
    border: none;
    background: none;
}

.startScreenFullscreen,
.startscreenSound{
    background-color: orange;
    border-radius: 100%;
    height: 50px;
    margin-bottom: 10px;
    margin-left:30px; 
}
.startScreenFullscreen img,
.startscreenSound img{
    padding:5px;
    width: 30px;
    height: 30px;
}


.startscreenStart{
    position: absolute;
    bottom:75px;
    animation: btn-puls 1s ease-in-out infinite;
}

.startscreenStart img {
    width: 70px;
}

.startScreenFullscreen:hover ,
.startscreenSound:hover ,
.startscreenStart:hover {
    transform: scale(1.1);
    transition: 250ms ease-in-out;
    cursor: pointer;
}


.winScreen{
    position: absolute;
    display: flex;
    flex-direction: column;
}
.winScreenRestart{
    position: absolute;
    top:247px;
    left: 168px;
    width: 170px;
}

.winScreenRestart:hover{
    cursor: pointer;
}

.victoryLine{
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 96px;
    left: 165px;
    color: rgb(0, 56, 238);
}

.restartLine{
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top:228px;
    left:184px;
    color: rgb(0, 56, 238);
}

.restartLine:hover{
    cursor: pointer;
}

.d-none {
    display: none;
}

.howToPlayKeybindings{
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold;
    display: flex;
    font-size: 25px;
    max-width: 1024px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 6px 6px rgba(160, 10, 10, 0.7);
    
}

.spaceKeybinding{
    margin-left:20px;
}
.howToPlayKeybindings div{
    padding: 10px 20px 10px 20px
}

.howToPlayKeybindings img {
    width: 30px;
}


@keyframes animate-button{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}




/*--Smartphone--*/

@media only screen and (max-width: 1024px) {
    canvas {
        width: 100%;
    }

    .startscreen {
        width: 100%;
    }
}

@media only screen and (max-height: 576px) {
    canvas {
        height: 100vh;
    }

    .startscreen {
        height: 100vh;
    }
}


/*--Smartphone--*/



@font-face {
    font-family: 'MyWebFont';
    src: url('myfont.ttf') format('truetype');
}

/* bungee-shade-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Bungee Shade';
    font-style: normal;
    font-weight: 400;
    src: url('./font/bungee-shade-v11-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}